/* Generated — run scripts/gen-synth-keys-css.sh */

.synth .key.black { width: 4.6%; }

#Cs4 { left: 2.96%; }
#Ds4 { left: 8.23%; }
#Fs4 { left: 18.75%; }
#Gs4 { left: 24.02%; }
#As4 { left: 29.28%; }
#Cs5 { left: 39.81%; }
#Ds5 { left: 45.07%; }
#Fs5 { left: 55.59%; }
#Gs5 { left: 60.86%; }
#As5 { left: 66.12%; }
#Cs6 { left: 76.65%; }
#Ds6 { left: 81.91%; }
#Fs6 { left: 92.44%; }
