/* Generated — run scripts/gen-synth-keys-css.sh */

#Cs4 { left: 2.56%; }
#Ds4 { left: 7.83%; }
#Fs4 { left: 18.35%; }
#Gs4 { left: 23.62%; }
#As4 { left: 28.88%; }
#Cs5 { left: 39.41%; }
#Ds5 { left: 44.67%; }
#Fs5 { left: 55.19%; }
#Gs5 { left: 60.46%; }
#As5 { left: 65.72%; }
#Cs6 { left: 76.25%; }
#Ds6 { left: 81.51%; }
#Fs6 { left: 92.04%; }
